
<span class="warning">
    <slot/>
</span>

<style is:global>
    .warning{
        /* box-sizing: border-box; */
        display: inline-block;
        background-color: brown;
        padding: 0em .5em;
        border-radius: 5px;
        color: white;
    }
</style>